<!DOCTYPE html>
<html>

<head>
    <title>SlotMachine</title>
    <meta charset="utf-8">
    <link href="\static\style\style.css" rel="stylesheet" />
</head>

<body>
    <div class="background"></div>
    <!-- <p>hello {{placeholder}}</p> -->
    <div class="slot-app">
        <header class="spin-header">
            <h1 class="game-title">Welcome to Slot Machine</h1>
            <h2 class="game-title" id="heading1">Lucky Spin</h2>

            <div class="player-info">
                <span class="label">Balance</span>
                <span class="balance-amount">$100</span>
            </div>
        </header>

        <!-- Main Slot Area-->
        <main class="slot-machine">
            <section class="reels">
                <!--column -1 -->
                <div class="reel-column">
                    <div class="symbol">🍒</div>
                    <div class="symbol">🔔</div>
                    <div class="symbol">💎</div>
                </div>

                <!--column -2 -->
                <div class="reel-column">
                    <div class="symbol">🍋</div>
                    <div class="symbol">🎰</div>
                    <div class="symbol">🍀</div>
                </div>
                <!--column -3 -->
                <div class="reel-column">
                    <div class="symbol">💎</div>
                    <div class="symbol">🍒</div>
                    <div class="symbol">🔔</div>
                </div>
            </section>
        </main>

        <!-- Controls -->

        <section class="bet-controls">
            <div class="bet-buttons">
                <button class="bet-btn">&minus;</button>
                <span class="bet-amount">Bet: $50</span>
                <button class="bet-btn">&plus;</button>
            </div>
            <button class="spin-btn">SPIN</button>
        </section>

        <!-- Result/status -->
        <footer class="footer">
            <p class="status-msg">Press SPIN to Play</p>
            <h3>Win Exciting Cash!!</h3>
        </footer>
    </div>

    <audio id="winAuido" src="\preview.mp3" preload="auto"></audio>
    <audio id="lossAudio" src="\lossAudio.mp3" preload="auto"></audio>

    <script src="static\script\index.js"></script>
</body>

</html>